* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #00ff8c, #009013);
}
html body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #container {
  max-height: 800px;
  max-width: 700px;
  min-width: 300px;
  border: 5px solid #50fb00;
  width: 46%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #333;
  border-radius: 20px;
}
html body #container input {
  font-weight: bold;
  width: 30vw;
  height: 5vw;
  text-align: center;
  padding: 4px;
  border: 3px solid #1ddb23;
  background-color: #dfd;
  border-radius: 5px;
  transition: 0.3s background-color;
  margin-bottom: 20px;
}
html body #container input:focus {
  outline: none;
  background-color: #afa;
}
html body #container .row {
  display: flex;
  justify-content: space-evenly;
}
html body #container .row .option {
  background-color: #333;
  cursor: pointer;
  width: 12vw;
  height: 6vw;
  margin: 5px;
  min-width: 80px;
  max-width: 170px;
  min-height: 30px;
  max-height: 80px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px white solid;
  transition: 0.3s;
}
html body #container .row .option:hover {
  filter: brightness(150%);
}
html body #container .row .active {
  background-color: #397e39;
}
html body #container .row .sugestion {
  background-color: #014b01;
}
html body aside {
  position: absolute;
  border-right: 5px solid #397e39;
  border-bottom: 5px solid #397e39;
  top: 0;
  left: 0;
  width: 30vw;
  max-width: 400px;
  padding: 20px;
  background-image: linear-gradient(45deg, #238f23, #00ff95);
  border-bottom-right-radius: 90px;
}
html body aside label {
  margin: 5px;
}
html body aside label input {
  width: 80%;
  text-align: center;
  border: 3px solid #1ddb23;
  background-color: #81ff81;
  transition: 3s filter;
}
html body aside label input:focus {
  outline: none;
  filter: brightness(150%);
}
html body aside button {
  margin-top: 5px;
  width: 80%;
  text-align: center;
  border: 3px solid #81ff81;
  background-color: #1ddb23;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 30px;
  }
  html body {
    display: flex;
  }
  html body #container input {
    font-weight: bold;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 4px;
    border: none;
    background-color: #dfd;
    border-radius: 5px;
    transition: 0.3s background-color;
    margin-bottom: 20px;
  }
  html body #container .row {
    margin: 0px;
  }
  html body #container .row .option {
    margin: 1px;
    border: 1px solid white;
  }
  html body aside {
    border: none;
    border-bottom: 10px solid #333;
    border-radius: 0;
    flex-wrap: nowrap;
    height: none;
    max-width: none;
    display: flex;
    width: 100%;
  }
  html body aside label {
    width: 30%;
    text-align: center;
  }
  html body aside label input {
    height: 50px;
  }
  html body aside button {
    height: 50px;
  }
}
@media screen and (max-height: 750px) {
  html body {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-height: 580px) {
  html body {
    display: flex;
    align-items: center;
  }
  html body aside {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */